# Ignore Gradle project-specific cache directory
.gradle
settings.json
# Ignore Gradle build output directory
build/
bin/

# Ignore Idea customizations
.idea

# Ignore Eclipse settings
.project
.settings/
.classpath

# Ignore VS Code Configuration folder
.vscode/

# Ignore Mac storage files
.DS_Store
