# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build/
bin/

# Ignore Idea customizations
.idea

# Ignore Eclipse settings
.project
.settings/
.classpath

# Ignore VS Code Configuration folder
.vscode/

# Ignore Mac storage files
.DS_Store

# Ignore log files
logs/
*.log
logs/

# Ignore local runs data
game_data/runs/users_data.yml
